* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: white;
}

body {
    font-family: 'Montserrat', sans-serif;;
    font-size: 0.9em;
    color:rgb(111,110,114);
    background: white;
    margin: auto;
    width: 100%
}


/*Navbar*/

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #F2F2F2;
  padding: 1.5rem;
}

.logo img {
width: 50%;
padding-left: 3em;
margin-left: 4rem;
}

.linksContainer {
  margin: 1em 0 0;
  height: 100%;
}
.links {
height: 100%;
}

.linksContainer .links {
  display: flex;
  flex-direction: row;
  padding: 0 1em 0 0;
  font-size: 0.8em;
  
}
.linksContainer .links a {
  text-decoration: none;
  color: rgb(111,110,114);
  padding-left: 14px;
  list-style: none
}

.links a.active {
  color: rgb(111,110,114);
  border-bottom: 2px solid rgb(111,110,114);
  font-weight: 300;
}

.links a:hover {
  color: #B6B6B6;
}

.icon-bar {
 justify-content: center;
}

.icon-bar a i {
  width: 10%;
  padding: 16px;
  padding-left: 10px;
  color:rgb(111,110,114);
  font-size: 1.5em;
}

.icon-bar i:hover {
  color: rgb(111,110,114,0.5);
}

@media only screen and (max-width: 800px) {
  .navbarright {
    display: none
  }
  .icon-bar {
    display: none
  }
}

  /*Footer*/
.footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 20vh;
  background: white;
  justify-content: space-around
}
.ayuda, .contacto, .nosotros{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem
}
.refTitle{
  font-size: 0.7rem;
  font-weight: bold;
}
.logo{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 10%
}
.logo img{
  padding: 0
}
/*Footer*/

.ref{
  text-decoration: none;
  color: rgb(111,110,114,0.9);
  font-size: 0.7em;
  font-weight: 100;
}

.ref:hover{
  color: rgb(111,110,114);
  text-decoration: none;
  border-bottom: 0.1em solid rgb(111,110,114);
}

.refP{
  text-decoration: none;
  color: rgb(111,110,114,0.9);
  font-size: 0.7em;
  font-weight: 100;
  margin-bottom: 0
}

.container-fluid{
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  
}

.row h5{
  color:rgb(111,110,114);
  font-size: 0.9em;
}


.row a{
  text-decoration: none;
  color: rgb(111,110,114,0.9);
  font-size: 0.7em;
  font-weight: 100;

}

.row p{
  text-decoration: none;
  color: rgb(111,110,114,0.9);
  font-size: 0.7em;
  font-weight: 100;
}

.row a:hover{
  color: rgb(111,110,114);
  border-bottom: 0.1em solid rgb(111,110,114);
}

.footer-copyright{
  background-color: rgb(111,110,114); 
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.6em;
}

.openMenu{
  background-color: rgb(111,110,114);;
  z-index: 9;
  height: 30vh;
  display: none;
  margin-top: -1rem;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding-left: 7.3rem;
  padding-right: 7.3rem;
  position: fixed;
  width: 100%;
  background-color: rgb(111,110,114);;
  z-index: 9;
  height: 30vh;
  display: none;
  margin-top: -1rem;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding-left: 7.3rem;
  padding-right: 7.3rem;
}

.show {
display: flex;
}

.sillas{
background-image: url('../img/SILLASMENU.JPG');
width: 25%;
background-size: cover;
background-position: center;
margin: 0.5rem

}
.sillones{
background-image: url('../img/SILLONESMENU.JPG');
width: 25%;
background-size: cover;
background-position: center;
margin: 0.5rem
}
.mesas{
background-image: url('../img/MESASMENU.JPG');
width: 25%;
background-size: cover;
background-position: center;
margin: 0.5rem
}
.acces{
background-image: url('../img/ACCESORIOSMENU.JPG');
width: 25%;
background-size: cover;
background-position: center;
margin: 0.5rem
}

#menuOption {
display: flex;
justify-content: center;
align-items: center;
cursor: pointer
}

#menuOption:hover {
margin: 0
}

.menuOptionP {
font-family: 'Abril Fatface', cursive;
color: white;
font-size: 1.5rem;
letter-spacing: 0.5rem
}

.menuOptions {

color: white
}
/*log-in*/

.form-control {
  min-height: 41px;
  background: #fff;
  box-shadow: none !important;
  border-color: #e3e3e3;
}
.form-control:focus {
  border-color:  rgb(111,110,114);
}
.form-control, .btn {        
  border-radius: 2px;
}
.login-form {
  width: 350px;
  margin: 0 auto;
  padding: 100px 0 30px;		
}
.login-form form {
  color:  rgb(111,110,114);
  border-radius: 2px;
  margin-bottom: 15px;
  font-size: 13px;
  background: rgba(111,110,114,0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;	
  position: relative;	
}
.login-form h2 {
  font-size: 22px;
  margin: 35px 0 25px;
}
.login-form .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -50px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background:  rgb(111,110,114);
    padding: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
  width: 100%;
}	
.login-form input[type="checkbox"] {
  margin-top: 2px;
}
.login-form .btn {        
  font-size: 1em;
  font-weight: bold;
  background: rgb(111,110,114);
  border: none;
  margin-bottom: 20px;
}
.login-form .btn:hover, .login-form .btn:focus {
  background:  rgba(111,110,114,0.7);
}    
.login-form a {
  color:  rgb(111,110,114);
  text-decoration: underline;
  
}
.login-form a:hover {
  text-decoration: none;
}
.login-form form a {
  color:  rgb(111,110,114);
  text-decoration: none;
}
.login-form form a:hover {
  text-decoration: underline;
}

/* detail product */

/* FAQs */

.principal-g {
text-align: center;
font-size: 1em;
color: rgb(161, 159, 159);


}

.titulo-faqs {
font-size: 1.5em;
margin: 1em;
color: grey;

}

.container-g {
display: flex;
justify-content: center;
}

.seccion1 {
display: flex;
width: 40%;
max-width: 1400px;
justify-content: center;
}

.ask {
text-align: left;
padding: 0.70em;
}

.pie {
justify-content: baseline;
height: 10%;
}

.lineh-g {
width: 100%;
padding-top: 1rem;
}

.endfaqs {
font-size: 1em;
font-weight: bold;
margin: 1em;
}


.button-g {
font-size: 0.8em;
padding: 0.7rem;
width: 20%;
color: white;
background-color: grey;
}

/*Footer*/


.container-fluid{
font-family: 'Montserrat', sans-serif;
background-color: white;
padding-top: 10px;
padding-bottom: 20px;
text-align: center;

}
.row{
  width: 100%
}

.row h5{
color:rgb(111,110,114);
font-size: 0.9em;

}

.row a{
text-decoration: none;
color: rgb(111,110,114,0.9);
font-size: 0.7em;
font-weight: 100;

}

.row p{
text-decoration: none;
color: rgb(111,110,114,0.9);
font-size: 0.7em;
font-weight: 100;
}

.row a:hover{
color: rgb(111,110,114);
border-bottom: 0.1em solid rgb(111,110,114);
}

.footer-copyright{
background-color: rgb(111,110,114); 
color: white;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
font-size: 0.6em;
}


/* profile */

.bienvenido {
display: flex;
flex-direction: row;
justify-content: center;
font-size: 2rem;
font-weight: bolder
}

/* weekSale */
.weekSale {
display: flex;
flex-direction: row;
width: 100%;
height: 100vh;
}
.left, .right {
width: 50%
}
.left{
background-color: #FAD4E1; 
text-align: center;
background-image: url('../img/sillonWeekSALE.JPG');
background-position-x: right;
background-repeat: no-repeat;
background-position-y: bottom;
display: flex;
flex-direction: column;
justify-content: space-between

}
.right {
background-image: url('../img/instagramWeekSale.JPG');
background-position-x: center;
background-repeat: no-repeat;
background-position-y: center;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center
}

.wsTitle2{
color: white;
text-align: center;
font-weight: 700;
animation-name: instagram;
animation-duration: 1s ;
animation-iteration-count: infinite;
}

.wsSubtitle2{
color: white;
text-align: center;
text-transform: uppercase;
font-size: 0.7rem;
}

.fa-instagram {
color: white;

}
#igIcon {
font-size: 1.5rem !important
}
.titleContainer {
background-color: grey;
align-content: center;
justify-content: center;
padding: 0.7rem
}


.wsShop {
  text-decoration: underline;
  color: rgb(111,110,114,0.9);
  font-size: 0.9rem;
  font-weight: 500;

}
.top, .bottom{
margin: 1rem;
display: flex;
flex-direction: column;
justify-content: space-between
}

.wsShop:hover {
color: rgb(111, 110, 114, 0.5)
}

.wsTitle{
font-weight: 700;
font-size: 4rem;
font-family: 'Abril Fatface', cursive;
letter-spacing: 0.3rem
}

.wsSubTitle{
font-size: 1rem;
text-transform: uppercase
}

.right{
background-color: gray
}
/*cart*/
.cart{
 width: 100%;
 display: flex;
 flex-direction: row;
}
.row{
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center
}
.product{
  width: 30%;
  margin: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.productTitle{
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5rem;
  letter-spacing: 6px;
}
/*cart*/


/* carrito */

/* .principalcarrito {
  background-color:#efefef80;
  text-align: center;
  display: flex;
  justify-content: center;

}
.seccion1carrito {
margin-top: 20px;
max-width: 1200px;
justify-content: center;

}
.articulo1carrito {
margin: 10px;
overflow: hidden;
height: 30em;
}
.img-articulo1carrito {
height: 15em;
}
.titulocarrito {
font-size: 5em;
color: #000; 
font-weight: bold;    
}
.detallecarrito {
font-size: 0.7em;
color: #8b8e94;
font-weight: bold;

}
.preciocarrito {
  font-size: 2em;
  color: #FFA33E;
  font-weight: bold;
} */
/*admin productos*/

.abmTitle{
color: #8092A1;
font-family: 'Abril Fatface', cursive;
padding-top: 1rem;
}
.adminProducts{
width: 100%;
background: #8092A1;
display: flex;
justify-content: center
}
.adminProductsContainer{
background: white;
margin: 3.5rem;
width: 90%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center
}
.productsBtns{
font-size: 1rem;
color: rgb(111,110,114);
margin-bottom: 1rem;
}
.productsBtns:hover {
color: rgba(111,110,114, 0.5)
}

th, td {
text-align: center;
color: rgb(111,110,114);
font-family: 'Roboto', sans-serif;

}

/* detalle producto */

.detailTitle{
margin: 1rem;
font-family: 'Abril Fatface', cursive;
font-size: 0.5rem;
color:#FCCDAB;
}
.detailProduct {
display: flex;
width: 100%;
background-color: #FCCDAB;
justify-content: center;
align-content: center
}
.detailContainer {
background: white;
margin: 3.5rem;
width: 90%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center

}

.info{
display: flex;
flex-direction: row
}
.productImage, .productInfo {
width: 50%;
font-family: 'Roboto', sans-serif;
}

.detailTitle .backButton {
font-size: 2rem;
color: rgb(111,110,114);
font-size: 1rem;
font-family: 'Roboto', sans-serif;
}

.backButton:hover {

color: rgba(111,110,114, 0.5)
}

/*editar producto*/

.editContainer{
background: white;
margin: 6rem;
width: 40%;
padding-top: 3rem;
padding-bottom: 2rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center
}
.editTitle {
text-align: center;
width: 100%;
margin: 1rem
}

.editar{
font-family: 'Abril Fatface', cursive;
color: #FCCDAB;
font-size: 2rem;
font-weight: bold;
line-height: 3rem;
}

.editarNombre{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.btnContainer {
text-align: center;
margin: 6rem
}
.btnSave{
border: 0;
background: rgb(111,110,114);
color: white;
margin-top: -5rem;
padding: 0.7rem;
font-weight: 600;
font-size: 0.8rem;
}

.agregarContainer{
background: white;
margin: 1rem;
width: 70%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center

}
.agregarProducto {
display: flex;
flex-direction: column;

}

/*editar producto*/


.green {
background: #85ad00; }

.blue {
background: #0076ad; }

.tooltip-inner {
padding: 1.3em; }

@-webkit-keyframes opacity {
0% {
  opacity: 0;
  -webkit-transform: scale(3);
          transform: scale(3); }
100% {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1); } }

@keyframes opacity {
0% {
  opacity: 0;
  -webkit-transform: scale(3);
          transform: scale(3); }
100% {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1); } }

          
@keyframes instagram {
50% {
  transform: scale(0.5);
  opacity: 0.5
}
}

/* Nosotros */

.imgNostros {
  display: flex;
  flex-direction: row;
  width: 100%;
  }

.tituloNosotros{
  font-family: 'Abril Fatface', cursive;
  color: #FCCDAB;
  font-size: 3.5rem;
  padding-top: 2.5rem;
  text-align: center;
  font-weight: bold;
}

.cuerpoNosotros h2{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1rem;
}
.cuerpoNosotros h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 5rem;
  font-size: 1rem;
}

.newsletter {
  padding: 80px 0;
  background: #efeee5;
  }
  
.newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; 
}

.newsletter .content h2 {
  font-family: 'Abril Fatface', cursive;
  color: rgb(111,110,114);
  margin-bottom: 40px; 
}

.newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius:0;
}

.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid rgb(111,110,114);
  font-family: 'Roboto', sans-serif;
}

.newsletter .content .btn {
  min-height: 50px; 
  border-radius:0;
  background: rgb(111,110,114);
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

/* Contactanos */


#contacto{
  background-color: #efeee5;
  letter-spacing: 2px;
  }
  
#contacto a{
  color: rgb(111,110,114);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  
}

.contactoH2{
  color:rgb(111,110,114);
  font-family: 'Abril Fatface', cursive;
}

.btnContacto{
  text-decoration: none;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(111,110,114);
  color: white;
  padding: 0.8rem;
}


@media (max-width: 500px) {

  #contacto{padding-bottom: 300px;}
  #contacto .maps iframe{
    width: 100%;
    height: 450px;
  }
 }


@media (min-width: 576px) {

  #contacto{padding-bottom: 500px;}
   #contacto .maps iframe{
     width: 100%;
    
   }
 }

@media (min-width: 768px) {

  #contacto{padding-bottom: 500px;}
  #contacto .maps iframe{
    width: 100%;
    height: 430px;
  }
}


